body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#boat-holder {
    height: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boat-holder img {
    width: 150px;
    aspect-ratio: 1;
}